* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Менюшка */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
    background-color: #222;
}

.navbar h1 {
    color: white;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.menu a:hover {
    color: #00bfff;
}

/* хиро-секшн */

.hero {
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;

    background-image:
    linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?w=1600");

    background-size: cover;
    background-position: center;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    background-color: white;
    color: #1e3c72;

    padding: 12px 25px;

    border-radius: 5px;
    text-decoration: none;

    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

/* Товары */

.products {
    padding: 60px 50px;
}

.products h2 {
    text-align: center;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

.card {
    background-color: #f4f4f4;

    border-radius: 10px;

    overflow: hidden;

    text-align: center;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
}

.card h3 {
    margin: 15px 0;
}

.card p {
    padding: 0 15px;
}

.card button {
    margin: 20px;
    padding: 10px 20px;

    border: none;

    background-color: #2a5298;
    color: white;

    cursor: pointer;

    transition: 0.3s;
}

.card button:hover {
    background-color: #1e3c72;
}

/* О нас */

.about {
    padding: 60px 50px;
    background-color: #eeeeee;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
}

/* Футер */

footer {
    background-color: #222;
    color: white;

    text-align: center;

    padding: 20px;
}

/* Адаптивка */

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .hero h2 {
        font-size: 32px;
    }

}

    .hero h2 {
    animation: fadeIn 1.5s ease;
}

    .hero p {
    animation: fadeIn 2s ease;
}

    .btn {
    animation: fadeIn 2.5s ease;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}